<div class="navbar-wagon">
    <!-- Logo -->
    <%= link_to cocktails_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "cocktail.png", height: 50 %>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <!-- Links -->
      <%= link_to "Add New Cocktail", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Ingredients", ingredients_path, class: "navbar-wagon-item navbar-wagon-link" %>

    </div>

</div>

<div >
<ul class="container_cards">
  <% @cocktails.each do |c|  %>

    <li class="card" style="
      <% if c.photo.blank? %>
        <%= "background-color:red" %>
      <% else %>
        <%= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url(' #{cl_image_path c.photo, height: 300, width: 400, crop: :fill} ')" %>
      <% end %>
    ;">
      <%= c.name %> -
      <%= link_to "see", cocktail_path(c) %>


    </li>



  <% end %>
</ul>



</div>


