<div class="navbar-wagon">
    <!-- Logo -->
    <%= link_to cocktails_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "cocktail.png", height: 50 %>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <!-- Links -->
      <%= link_to "Add New Cocktail", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Ingredients", ingredients_path, class: "navbar-wagon-item navbar-wagon-link" %>

    </div>
</div>



<div class="cocktail_name">
  <h2><%= @cocktail.name %></h2>
</div>

<div class="image">
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
</div>

<div class="container ingredientcard">

  <div class="ingredients">
    <ul><% @cocktail.doses.each do |d| %>
      <li>
        <%= d.description %> de
        <%= d.ingredient.name %> -
        <%= link_to "edit", edit_dose_path(d) %> -
        <%= link_to "delete", dose_path(d),
          method: :delete,
          data: { confirm: "Are you sure?" }  %>
      </li>
    <% end %>
  <p><%= link_to "add more", new_cocktail_dose_path(@cocktail) %></p>

  </ul>
  </div>
</div>

